# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Rust
target/
Cargo.lock

# Build outputs
dist/
gbr-research/
